@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
body {
	
	background: linear-gradient(#A8619C, blueviolet, blue);
	font-family: 'Libre Baskerville', serif;
}
#container {
	background-color: whitesmoke;
	margin: 100px auto 0;
	width: 380px;
	max-width: 400px;
	text-align: center;
	padding: 20px;
	border: 5px black solid;
	border-radius: 5px;
	box-shadow: 10px 5px 10px 5px black;

}
#answer-button {
	text-align: center;
	margin: 10px auto 0;
}
.btn {
	background-color: #F69AC3;
	padding: 12px;
	border: blueviolet 1.5px solid;
	border-radius: 8px;
	margin: 2px;
	display: block;
	width: 320px;
	font-family: 'Libre Baskerville', serif;
	font-weight: bold;
	text-transform: capitalize;


}


#score-title {
	margin: 12px auto 0;
}
.next-btn:hover {
	background-color: blue;
}
#next-btn {
	margin: 10px auto 0;
	width: 65px;
	border-radius: 0;
	padding: 6px;
	background-color: #A8619C;
	font-family: 'Libre Baskerville', serif;
	font-weight: bold;
	

}
.check-answers {
	width: 120px;
	margin-top: 0;
	
}
#answers {
	margin: 20px auto 0;
	max-width: 330px;
}


.correct:hover {
	background-color: green;

}
.wrong:hover {
	background-color: red;
}